<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.zhihu.mapper.AnswerMapper">
  <resultMap id="BaseResultMap" type="com.xmut.zhihu.entity.Answer">
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="approve_num" jdbcType="INTEGER" property="approveNum" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xmut.zhihu.entity.Answer">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <insert id="insert" parameterType="com.xmut.zhihu.entity.Answer">
    insert into t_answer (aid, pid, approve_num, 
      like_num, comment_num, collect_num, 
      img, time, uid, content
      )
    values (#{aid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{approveNum,jdbcType=INTEGER}, 
      #{likeNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, #{collectNum,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{uid,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmut.zhihu.entity.Answer">
    insert into t_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="approveNum != null">
        approve_num,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="collectNum != null">
        collect_num,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="approveNum != null">
        #{approveNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="collectNum != null">
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>