<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.zhihu.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.xmut.zhihu.entity.Comment">
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="reply_id" jdbcType="INTEGER" property="replyId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xmut.zhihu.entity.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <insert id="insert" parameterType="com.xmut.zhihu.entity.Comment">
    insert into t_comment (cid, aid, time, 
      reply_id, content)
    values (#{cid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{time,jdbcType=DATE}, 
      #{replyId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmut.zhihu.entity.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>