<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.zhihu.mapper.PrivateLetterMapper">
  <resultMap id="BaseResultMap" type="com.xmut.zhihu.entity.PrivateLetter">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="recevie_uid" jdbcType="INTEGER" property="recevieUid" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xmut.zhihu.entity.PrivateLetter">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <insert id="insert" parameterType="com.xmut.zhihu.entity.PrivateLetter">
    insert into t_privateLetter (id, uid, recevie_uid, 
      time, content)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{recevieUid,jdbcType=INTEGER}, 
      #{time,jdbcType=DATE}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmut.zhihu.entity.PrivateLetter">
    insert into t_privateLetter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="recevieUid != null">
        recevie_uid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="recevieUid != null">
        #{recevieUid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>